beiyao/node_modules/
beiyao/express-project/node_modules
beiyao/mongodb/node_modules

sam/zbestpc_update/node_modules
sam/zbestpc_update/build
sam/zbestpc_update/dist
sam/zbestpc_update/.idea

tomas/node_modules
tomas/.next
tomas/.env.development
